<div class="row-container">
    <div class="column-container">
      <img class="home-img" routerLink ="annonces"src="/assets/iphone_home.png" alt="phone" style="width:100%">
      <div class="overlay">
        <p class="hide">Telephonie</p>
      </div>
    </div>
    <div class="column-container">
      <img class="home-img" routerLink="annonces" src="/assets/macbook.jpg" alt="macbook" style="width:100%">
      <div class="hide">Informatique</div>
    </div>
    <div class="column-container">
      <img class="home-img" routerLink="annonces" src="/assets/headphon.jpg" alt="headphone" style="width:100%">
      <div class="hide">Son</div>
    </div>
  </div>