.card {
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
  color: #c0c0c0;
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  border-radius: 25px;
  margin-left: 30px;
  margin-top: 20px;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-radius: 25px;
}

.card button:hover {
  transform: scale(1.1) perspective(1px);
}

.titre-page {
  min-height: 15vh;
  position: relative;
  text-align: center;
  font-size: 50px;
  padding-top: 20px;
}

.pool-annonces {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}

.offer-button {
  margin-bottom: 0px;
}
